body {
  /* text-align: center; */
  vertical-align:middle;
  margin: 0 auto;
}
li {
  list-style: none;
}

.postListItem .postListItemContent {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  height: 100px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4 ;
  -webkit-box-orient: vertical;
}
.postListItem .postListItemView, .postItemView {
  float: right;
  display: inline-block;
}